body {
  background-color: #000;
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
}

h1,
h2,
strong {
  font-weight: bold;
}

h2 {
  margin: 0;
}

main {
  border: 10px solid #ff3c41;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin: 10vmin auto;
  max-height: calc(100vh - 80px);
  padding: 20px;
  text-align: left;
  width: 600px;
}

input {
  background: #d5d7de;
  border: 3px solid #d5d7de;
  border-radius: 3px;
  height: 30px;
  outline: 0;
  padding: 4px 5px 4px 5px;
  width: 162px;
}

button {
  border: 3px solid transparent;
  border-radius: 4px;
  margin: 0 10px 0 0;
  min-height: 44px;
  outline: 0;
  padding: 10px 16px;
  width: fit-content;
}

button:disabled {
  opacity: 0.5;
}

.danger {
  background-color: #ff3c41;
  color: #c7c9d3;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cancel {
  background: #444857;
  color: #fff;
}
